body {

background-image: url(https://fotos.subefotos.com/25f8dbbcac9117b360ecb398b8ffa7bfo.jpg);

.opacity{
   background-color:rgb(255,0,0);
   opacity:0.6; 
   width:200px;
   height:70px;
}
}